body {
  min-width: 1170px;
  background-image: url("./images/YMMNJJW_rTqlpLntNNl_bMqypOYfxKZd2CXi6B4-ZcM\ 2.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.log {
width: 25%;
}

.DROP {
  font-size: 60px;
  text-align: center;
}

.piska1 {
  margin-left: 40px;
}

.header {
  height:150px;
  width:90%;
  background-color: #050021;
  margin-left: auto;
    margin-right: auto;
  border-radius: 15px;
  position: relative;
   
}

.nav {
display: flex;
background-color:  #FFB800;
border-radius: 15px;
height: 60px;
line-height: 50px;
margin: auto;
padding-left: 25%;
padding-right: 25%;
position: relative;
}

menu li{
display: inline-block;
list-style: none;
padding: 0 25px;
height: 50px;
margin:0 -2px;
}

.menu-bg {
  background-image: url(image/background.png);
  border-radius:25px;
  padding: 100px;
  margin: 5%;
  margin-left:  auto;
  margin-right: auto;
  width:60%;
  height:100%;
  position: relative ;
  z-index: 1;
}

.account-image {
  position: center;
  align-content: center;
}

.fist-element {
  position: center;
  width: min-content;
  height: min-content;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.menu2 {
  display: block;
    margin: 0 auto;
}

.name {
  font-size: 30px;
  text-shadow:#888 1px 0 10px;
  text-decoration: none;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
}

.link {
  font-size: 38px;
  text-decoration: none;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Lato', sans-serif;
font-family: 'Russo One', sans-serif;
text-align: center;
}

.btn-img {
  position: absolute;
  top: 20px;
  left: 5%;
}

.second-button {
  background-color:#0E005A ;
  position: relative; 
  margin: auto;
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 1%;
  width: 500px;
  height: 70px;
  text-align: center;
}

.last-element {
 background-color: #0E005A;
 width: auto;
 height: 600px;
 border-radius: 20px;
 text-align: center;
 text-shadow:#888 1px 0 10px;
}

.your-items {
  background-color: #1A00AA;
  text-align: center;
  border-radius: 20px;
  height: 50px;
}

.t {
  word-spacing: 35px;
}

.n {
  height:80px;
  width:1300px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}

.text {
  font-size: 40px;
  text-shadow:#888 1px 0 10px;
  text-decoration: none;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Lato', sans-serif;
  font-family: 'Russo One', sans-serif;
}
.text-items{
  text-align: center;
  font-size: 64px;
  color: white;
  font-family: 'Lato', sans-serif;
}
.shadow-text{
  cursor: grab;
  position: center;
  color: grey;
  margin-top: 250px;
  font-size: 50px;

}
.nickname{
  font-size: 40px;
  
  text-shadow:#888 1px 0 10px;
  text-decoration: none;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Russo One', sans-serif;
}
.headerline{
   display: flex;
  justify-content: space-between;


  box-sizing: border-box;
}
.ac-im{
border-radius: 15px;
background-color: #fff;
padding: 10px;
height:min-content;
width: min-content;
;
}
.sign-up{
font-size: 35px;
color: white;
display: block;  
text-align:center;
font-family: 'Lato', sans-serif;
text-decoration: none;
margin-top: 4px;
}
.knopka{
  background-color:  #FFB800;
border-radius: 15px;
list-style: none;
line-height: 55px;
position: relative;
left: 61.5%;
width: 13%;
}
.zagolovok{
  color: white;
  font-size: 40px;
  font-family: 'Josefin Sans', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Russo One', sans-serif;
}
footer{
  background-color:  #FFB800;
border-radius: 15px;
height: 250px;
margin-bottom: 1px;
margin: auto;
padding-left: 25%;
padding-right: 25%;
}
.e{
  transition: 1s;
}

.e:hover{
   transform: scale(1.2);
}

.link2 {
  font-size: 30px;
  text-decoration: none;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Russo One', sans-serif;
}

#burger, [for=burger]{
  display: none;
  color: #fff;
}

@media (max-width:1700px){
  .link{
    font-size: 24px;
    text-decoration: none;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Russo One', sans-serif;
    position: relative;
  }
  .nav-img{
    height: 35px;
    width:35px ;
  }
  .header{
    height:4%;
    width:90%;
    background-color: #050021;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    position: relative;
     
  }
  
}
@media (max-width:1232px){
  .link{
    font-size: 22px;
    text-decoration: none;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Russo One', sans-serif;
  }
}
@media (max-width:993px){
  .nav{
    display: none;
    position: fixed  ;
    margin-top:30px ;
    background-color: #190490;
  height: 30%;
  line-height: 50px;
  padding-left: 25%;
  padding-right: 25%;
  width: 100%;
  user-select: none;

  }
  #burger:checked+label+.nav{
    display:block;
    z-index: 2;
  }
  .nav-img{
    height: 24px;
    width:24px ;
    margin: auto;
  }
  .link{
    font-size: 15px;
    text-decoration: none;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Russo One', sans-serif;
    position: relative;
  }
  [for=burger]{
    display: block;
    color:white;
    font-size: xx-large;
    position: fixed;
    right: 45px;
    top:45px ;
  }
  [for=burger]::before{
    content:'☰' ;
  }
    .knopka{
      left: 60%;
  }
}