*, 
*:before, 
*:after{
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 48px;
    line-height: 148.02%;
    color: white;
    overflow-x: hidden;
    /* background-image: url("./images/backgroundImg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed; */
    background-color: #050021;
}

/* Header */

.wrapper-header {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    width: 100%;
    padding: 40px 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

/* Logo properties */

.logo {
    height: 55px;
    width: 220px;
}

/* Registration/Login properties */

.registration-login-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row; 
}

.header-registration {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

/* ------------------- */

.registration-button {
    background-color: #FFA800;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 22px;
    height: 55px;
    width: 150px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: all 0.1s ease-in 0s;
}

.registration-button:hover {
    background-color: #dd9300;
}

.registration-button:active {
    background-color: #dd9300;
    transform: translateY(4px);
}

/* -------------------- */

.header-login {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* -------------------------- */

.login-button {
    background-color: #FFA800;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 22px;
    height: 55px;
    width: 150px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: all 0.1s ease-in 0s;
}

.login-button:hover {
    background-color: #dd9300;
}

.login-button:active {
    background-color: #dd9300;
    transform: translateY(4px);
}

/* ----------------------- */


/* Navigation panel */

.wrapper-header2 {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.header2 {
    width: 100%;
    background-color: #FFA800;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.img-in-nav {
    height: 25px;
    width: 25px;
}

/* --------------------------- */

.list-element-text {
    vertical-align:  top;
    text-decoration: none;
    color: white;
    font-size: 30px;
    transition: all 0.2s ease-in 0s;
}

.list-element-text:hover {
    color: #3a456ecf;
}

/* --------------------------- */


/* Main */